{% extends "base.html" %}

{% block content %}

<div class="form-view">
<form action="/ratings/login/" method="post">
 {% csrf_token %}
    <div class="ui error form segment">
            {%if form.errors %}
      <div class="ui error message">
        <div class="header">Action Forbidden</div>
    <p> Invalid username/password combination, please try again </p>
          </div>
      {%endif%}
      <div class="field">
        {{form.username.label_tag}}{{form.username}} <br>
      </div>
      <div class="field">
        {{form.password.label_tag}}{{form.password}}  <br>
      </div>
        <center><input type="submit" class="button" id="submit" name="submit" value="Sign in" /></center><br>
        <input type="hidden" name="next" value="{{ next }}" />        <br>
    </div>
    <center> <a href="/ratings/register/" id="new">Register!</a> </center>
</form>
</div>
{% endblock %}
