<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
{% block header %}
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name       : Recreation  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PolyProjects : Post Your Idea</title>
<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />

<link href="{% static "css/reset.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/fixed-nav.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/semantic.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" media="screen" />

<style type="text/css">
.row { vertical-align: top; height:auto !important; }
</style>
</head>
{% endblock %}
<body>
<!-- navbar shit -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Poly Ratings</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#">Home</a></li>
      <li class="">
        <a href="#">Login</a>
      </li>
      <li class="active"><a href="#">Register</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#"></a></li>
    </ul>
  </section>
</nav>

<!--  -->
{% block content %}
{% endblock %}
</body>
<script type="text/javascript" src="{% static 'javascript/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/semantic.min.js' %}"></script>
</html>