{% extends "base.html" %}

{% block content %}
<div class="list-div">
	<div class="ui three column grid">
	<center><h4>Professors teaching {{mclass.name}}</h4></center>
	{% for pairing in pairing_list %}
	  <div class="column">
	    <div class="ui fluid card animated fadeIn">
	      <div class="image">
	        <img src="../../static/images/male.jpg">
	      </div>
	      <div class="content">
	        <a class="header" href="../detail/{{ pairing.professor.id }}"> {{ pairing.professor.name }}</a>
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
{% endblock %}