{% extends "base.html" %}

{% block content %}

<div class="ui vertical list">
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/female.jpg">
	    <div class="content aligned">
	      Tyrion Lannister
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/male.jpg">
	    <div class="content aligned">
	      Arya Stark
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/female.jpg">
	    <div class="content aligned">
	      Tyrion Lannister
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/male.jpg">
	    <div class="content aligned">
	      Arya Stark
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/female.jpg">
	    <div class="content aligned">
	      Tyrion Lannister
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/male.jpg">
	    <div class="content aligned">
	      Arya Stark
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/female.jpg">
	    <div class="content aligned">
	      Tyrion Lannister
	    </div>
	  </div>
	  <div class="item hov-fill">
	    <img class="ui avatar image" src="../static/images/male.jpg">
	    <div class="content aligned">
	      Arya Stark
	    </div>
	  </div>
	</div>

	{% endblock %}