.hov-fill:hover {
	background-color: #FFFFFF;
}
 .top-section {
 	width: 100%; 
    height: 60em; 
 }

.bg-image {
  position: relative;
  background-size: cover;
}
.bg-img {
  background-image: url("../images/background.jpg"); 
}
h1#punchline {
	color: white;
}

.white {
	color: white;
}
.ui.link.cards {
  padding-left: 40%;
  margin-top: 50px;
}
.ui.three.column.grid {
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 50px;
}

.form-view {
padding-left: 500px;
padding-right: 500px;
}
/*
.darken {
    position: absolute;
    background-size: cover;
	background: rgba(0, 0, 0, 0.5);
}*/